* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: #1f1f28;
  color: #dcd7ba;
  padding: 0 10px;
	font-family: BlexMono Nerd Font;
  font-size: 13px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #54546D;
  color: #2A2A37;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #363646;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
}

.metric .label {
  font-family: Phosphor, BlexMono Nerd Font;
  font-size: 1.3em;
  padding-top: 2px;
}

.r-metric {
  background-color: #363646;
  color: #DCD7BA;
}

.bat-box {
  font-family: Phosphor, BlexMono Nerd Font;
}

.bat-box .icon {
  font-size: 1.4em;
  padding-top:2px;
}

.net-box .icon {
  padding-right: 2px;
}

.workspaces button:hover {
  color: #D35D6E;
}

